.feynman {
  padding-top: 80px;
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  background-image: url(../images/Charls.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}
