.feynman {
  padding-top: 150px;
  min-height: 790px;
  position: relative;
  background-image:
  linear-gradient(to top, rgba(117, 138, 255, 0.4), rgba(255, 255, 255, 0.8)),
   url(../images/feynman-2.jpg);
  background-size: cover;
  background-position: left bottom;
}
