.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  vertical-align: top;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  white-space: nowrap;
}

.khan__buy-link:hover {
  opacity: .6;
  transition: .2s linear;
}
